<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or Processing">
    <pipelines>
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor type="Sitecore.Support.WFFM.Analytics.Aggregation.Processors.FormSummary.FormSummaryProcessor, Sitecore.Support.200451" patch:instead="*[@type='Sitecore.WFFM.Analytics.Aggregation.Processors.FormSummary.FormSummaryProcessor, Sitecore.WFFM.Analytics']" />
          </interactions>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>